@charset "UTF-8";

body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("https://midias.correio24horas.com.br/2023/03/10/-1172543.jpg");
    background-size: 922px;
    background-position: right center;
    background-repeat: no-repeat;
}

table{
    width: 400px;
    height: 400px;
    border-collapse: collapse;
    border: 5px solid black;
}

td{
    border: 1px solid black;
    padding: 8px;
    text-align: center; /* alinhamento horizontal */
    vertical-align: text-top; /* alinhamento vertical */
}

td.destaque{
    background-color: yellowgreen;
}

.numero{
    text-align: right;
    vertical-align: middle;
}

tr.linha{
    background-color: gray;
}